/* Base Styles */
.phs-wrap {
    padding: 10px;

    -webkit-box-shadow: 0px 0px 20px -5px #000000;
    -moz-box-shadow: 0px 0px 20px -5px #000000;
    box-shadow: 0px 0px 20px -5px #000000;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.phs-wrap .phs-row,
.phs-wrap .phs-btn-actions {
    margin-top: 18px;
    clear: both;
}

.phs-wrap .phs-row:after,
.phs-wrap .phs-btn-actions:after {
    content : "";
    clear   : both;
    display : block;
 }

.phs-wrap .phs-btn-actions {
    text-align: center;
}

.phs-wrap .phs-row label {
    display: none;
    font-size: 16px;
}

.phs-wrap .phs-row input,
.phs-wrap .phs-row select,
.phs-wrap .phs-row textarea {
    border: 2px solid #d3d3d3;
    color: #bdc3c7;
    font-size: 18px;
    padding: 15px;
    margin: 0;
    width: 100%;
    height: auto;

    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.phs-wrap .phs-row-selects select {
    width: auto;
}

.phs-wrap button,
.phs-wrap a.button {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    height: auto;
    padding: 18px 45px;
    width: auto;
    background: #8fc941;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
}

.phs-wrap a.button {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Form */
.phs-wrap .phs-row-dates,
.phs-wrap .phs-row-dates-jquery,
.phs-wrap .phs-row-hours {
    float: left;
}

.phs-wrap .phs-row-dates-jquery {
    width: 70%;
}

.phs-wrap .phs-row-hours {
    margin-left: 10px;
}


/* Vehicles List */
.phs-wrap .phs-list-item h4{
    text-transform: uppercase;
}

.phs-wrap .phs-list-item {
    text-align: center;
}

/* Book */
.phs-wrap .phs-success {
    color: #ff6347;
    font-size: 18px;
    text-align: center;
}

.phs-wrap .phs-price {
    font-size: 18px;
    text-align: center;
}

.phs-wrap .phs-price strong {
    color: #ff6347;
}


